body {
    padding-top: 56px;
  }
  #sidebar {
    width: 250px;
    background-color: #f8f9fa;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    transition: all 0.3s;
    z-index: 999;
  }
  #sidebar.active {
    left: 0;
  }
  #sidebar .nav-link {
    font-size: 1.1rem;
  }
  .theme-dark {
    background-color: #343a40;
    color: white;
  }
  .theme-dark a {
    color: #adb5bd;
  }
  .theme-dark .navbar, .theme-dark #sidebar {
    background-color:#495057;
  }